@font-face {
    font-family: SansSerif;
    src: url("fonts/LANENAR_.ttf");
}

@font-face {
    font-family: Serif;
    src: url("fonts/AUBREY1__.TTF");
}

body { background-color: #99CCFF;
       background-image: URL("images/temp-background.jpg");
       color: #FFFFFF;
       font-family: SansSerif;
       background-repeat: no-repeat;
       background-attachment: fixed;
}

#descr { font-size: .8em;
		 margin-left: 20px;
}

#header { background-color: #FFCC99;
          color: #FFFFFFF;
		  text-align: center;
		  margin: 0;  
		  padding: 30px 20px 30px 20px;
		  font-size: 50px;
		  font-family: Serif;
}
         
#nav {	text-align: center;
        float: right;
		width: 225px;
		padding-top: 10px;
}
#nav a { text-decoration: none; 
         padding: 10px 10px 10px 10px;	
}     
#nav a:link { color: #934A00; }
#nav a:hover { color: #934A00; 
               background-color: #CCFFFF;}

#nav ul {list-style-type: none; 
		 background-color: D1A3FF;
}

a { text-decoration: none; 
    color: #336600}
      
a:hover {color: #33CC00; }

#footer { background-color: #FF9966;
          color: #000000; 
          font-size: 1em;
          font-style: italic;
          text-align: center;
		  padding-top: 20px;
		  padding-bottom: 20px;
		  clear: both;	  
}

#wrapper { margin-left: auto;
             margin-right: auto;
             margin-top: 50px;
             margin-bottom: 50px;
             width: 80%;  
			 background-color: #ffffcc;
			 min-width: 950px;
}
  
h2 { margin: 20px;
	 color: #000000;
     font-size: 3em;
     border-bottom: 1px solid #000000;
     margin-right: 20px;
	
}

h3 { font-size: 2em; }

h4 { font-size: 1.5em; }

#content { padding: 20px 20px 20px 20px;
           margin-left, margin-right: 180px;
		   background-color: #f2eab7;
		   color: #000000; 
}

#centered { text-align: center;

}

img { border-style: none;
	  margin: 20px;
	  margin-top: 40px;
}

